user_input_data/inventories/*
!user_input_data/inventories/sample-bucket/
app/out.json
app/items.json
download_inventory.sh
rdb/prefixes_exports/*
!rdb/prefixes_exports/prefixes_demo_sample-bucket.csv
